<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DH Heroes</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="container">
            <div class="imagen">
                <img src="/img/AmaliaRibeiro.jpg" alt="Aquí va una foto">
            </div>        
            <div class="detail">
                <h1>Amalia Ribeiro</h1>
                <p><strong>Profesión: </strong>Profesora de Música y autodidacta en desarrollo de software</p>
                <p><strong>País: </strong>Argentina</p>
                <p><strong>Resenia: </strong> Amalia Zulema Ribeiro (Posadas, Misiones, Argentina, 12 de noviembre de 1994-Misiones) Actualmente tiene 27 años, se desempeña como profesora de Música en dos escuelas primarias, y en un conservatorio, tambien trabaja home office en el sector de ventas para una agencia de autos, tiene su propio emprendimiento de ventas de zapatos online, a su vez se esta capacitando de la mano de Digital House, en desarrollo fullstack, espera fundar su propia empresa.</p>
                <a href="/"><button>Volver</button></a>
            </div>
        </div>
    </body>
</html>